*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    background-color: rgb(22, 20, 20);
    width: 100%;
    height: 100%;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
}

div.main{
    margin: 20px;
    display: flex;
    justify-content: center;
    flex-flow: row wrap;
    border: 1px solid black;
}
img{
    width: 40%;
    height: 80%;
    border: 3px solid white;
    border-radius: 50%;
}

.aluno{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 40%;
}

.aluno > h1{
    border-radius:25px;
    padding: 7px;
    margin: 7px 0 7px 0;
    color: black;
    text-shadow: 
               -1px -1px 0px #FFF, 
               -1px 1px 0px #FFF,      
                1px -1px 0px #FFF,    
                1px 0px 0px #FFF;
}

a{
    border-radius:25px;
    padding: 7px;
    margin: 7px 0 7px 0;
    color: black;
    text-shadow: 
               -1px -1px 0px #FFF, 
               -1px 1px 0px #FFF,      
                1px -1px 0px #FFF,    
                1px 0px 0px #FFF;
}

a:hover{
    border-radius:25px;
    padding: 7px;
    margin: 7px 0 7px 0;
    color: rgb(145, 255, 0);
    text-shadow: 
               -1px -1px 0px rgb(0, 0, 0), 
               -1px 1px 0px rgb(0, 0, 0),      
                1px -1px 0px rgb(0, 0, 0),    
                1px 0px 0px rgb(0, 0, 0);
}



