/*Design da página*/
*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body{
    background-color: hsla(138, 77%, 33%, 0.623);
}
/*DIV PRINCIPAL*/
#main{
    display: flex;
    align-items: center;
    flex-direction: column;
}
#main >h1{
    color: black;
    text-shadow: 
               -1px -1px 0px #FFF, 
               -1px 1px 0px #FFF,      
                1px -1px 0px #FFF,    
                1px 0px 0px #FFF;
}
/*IMAGENS*/
picture{
    margin: 20px 0 20px 0;
}
picture > img{
    width: 45%;
    height: 45%;
    display: block;
    margin-left: auto;
    margin-right: auto;
    border: 1px solid black; 
}
/*FORMULÁRIO*/
 form{
     background-color: white;
     border-radius: 10px;
    display: flex;
    align-items: center;
    flex-direction: column;
    margin-bottom: 20px;
     
 }
/*DADOS A E B*/

 form > div.dados_gerais,div.dados_a,div.dados_b{
    display: flex;
    align-items: center;
    flex-direction: column;
    margin: 10px;
 }

div.dados_a,div.dados_b{
    border-top: 3px solid black;
    padding: 5px;
    margin:5px;
    width: 300px;
}
div.dados_a > label{
    margin: 5px 0 5px 0;
}
div.dados_b > label{
    margin: 5px 0 5px 0;
}

/*botão*/
button{
    height: 35px;
    width: 100px;
    background-color: black;
    color: white;
    padding: 5px;
    border-radius: 10px;
    text-decoration: none;
}

/*resposta*/
.resposta{
    border: 1px solid black;
    margin: 25px;
    width: fit-content;
    height: 50px;
    background-color: aqua;
}
#final{
    
    text-align: center;
}
